<app-cabecera></app-cabecera>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!----## Inicio Form Principal ##---->
<form id="empleadosFormId" [formGroup]="empleadosForm" (ngSubmit)="guardar()">
  <!----## Inicio Container Principal ##---->
  <div class="container">
    <!----## Inicio Row Principal ##---->
    <div class="row">
      <!----## Inicio Columna 12  ##---->
      <div class="col-md-12 m-0 p-0">
        <h3>B&uacute;squeda de Empleados</h3>
        <div class="card">
          <div class="card-body">
            <!--Inicio Busqueda-->
            <div class="row">
              <!-->label for="txtBuscar" class="col-md-1 col-form-label"><b>&nbsp; Buscar</b></label-->
              <div class="col-md-5">
                <input type="text" formControlName="txtBuscar" id="txtBuscar" class="form-control" placeholder="Ingrese documento, apellido o nombre a buscar"/>
              </div>
              <div class="col-md-1">
                <input type="button" value="Buscar" class="btn btn-outline-primary" (click)="buscarEmpleado();" />
              </div>
            </div>
            <!--Fin Busqueda-->
            <br>

            <!----## Inicio Row 2 Interior  ##---->
            <div class="row">
              <!----## Inicio Col 12  ##---->
              <div class="col-md-12">
                <div class="card">
                  <table class="table table-hover table-sm">
                    <thead class="thead-dark">
                      <th style='width:20%;'>Nombre</th>
                      <th style='width:20%;'>Apellido</th>
                      <th style='width:5%;'>Documento</th>
                      <th style='width:10%;'>F. Nac.</th>
                      <th style='width:5%;'>Tel&eacute;fono</th>
                      <th style='width:10%;'>Oficina</th>
                      <th style='width:20%; text-align:center;'>Opciones</th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let em of empleados">
                        <td>{{em.nombre}}</td>
                        <td>{{em.apellido}}</td>
                        <td>{{em.nro_doc}}</td>
                        <td>{{em.fecha_nac | date:'dd-MM-yyyy'}} </td>
                        <td>{{em.telefono}}</td>
                        <td>{{em.oficina}}</td>
                        <td style='text-align: center'>
                          <a class="btn btn-info btn-sm" [routerLink]="['/empleados/cargar-empleados', em.empleados_id]" routerLinkActive="active">Modificar</a>&nbsp;
                          <input type="button" class="btn btn-danger btn-sm" (click)="eliminarEmpleado(em.empleados_id)" value="Eliminar" />
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12" align="center">
                      <a class="btn btn-primary" [routerLink]="['/empleados/cargar-empleados']" routerLinkActive="active">Nuevo Empleado</a>
                    </div>
                  </div>
              </div>
              <!----## Fin Col 12  ##---->
            </div>
            <!----## Fin Row 1 Interior  ##---->
          </div>
        </div>
      </div>
      <!----## Fin Columna 12  ##---->
    </div>
    <!----## Fin Row Principal ##---->
  </div>
  <br>
  <!----## Fin Container Principal ##---->
</form>
<!----## Fin Form Principal ##---->

<app-pie></app-pie>