<!----## Inicio Form Principal ##---->
<form id="estadisticasForm">
    <!----## Inicio Container Principal ##---->
    <div class="container mt-4">
      <!----## Inicio Row Principal ##---->
      <div class="row">
        <!----## Inicio Columna 12  ##---->
        <div class="col-md-12 m-0 p-0">
            <div class="card" id="cardPrincipal">
                <div class="card-body">
                    <h3><span><fa-icon [icon]="faProjectDiagram"></fa-icon></span> Predicciones</h3>
                    <hr>
                </div>
            </div>
        </div>

        <!----## Fin Columna 12  ##---->
      </div>
      <!----## Fin Row Principal ##---->
    </div>
    <br>
    <!----## Fin Container Principal ##---->
  </form>
  <!----## Fin Form Principal ##---->
  