<app-cabecera></app-cabecera>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!----## Inicio Form Principal ##---->
<form id="empleadosFormId" [formGroup]="empleadosForm" (ngSubmit)="guardar()">
  <input type="hidden" formControlName="nombre_usuario">
  <!----## Inicio Container Principal ##---->
  <div class="container">
    <!----## Inicio Row Principal ##---->
    <div class="row">
      <!----## Inicio Columna 12  ##---->
      <div class="col-md-12 m-0 p-0">
        <br>
        <h3>Empleados</h3>
        <hr>
        <h5>Cargar Empleados</h5>
        <br>
        <!----## Inicio Row 1 Interior  ##---->
        <div class="row">
          <!----## Inicio Col 12  ##---->
          <div class="col-md-12">
            <!----## Inicio Card ##---->
            <div class="card">
              <!----## Inicio Card Body ##---->
              <div class="card-body">
                <div class="row">
                  <!----## Inicio Primera Columna 6 ##---->
                  <div class="col-md-6">
                    <h5>Datos Personales</h5>
                    <br>
                    <div class="row">
                      <div class="col-md-12">
                        <!--~~~~~~~~~ Documento ~~~~~~~~~~~-->
                        <mat-form-field class="example-full-width" style="width:80%">
                          <input matInput placeholder="Documento" formControlName="documento">
                        </mat-form-field> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="button" class="btn btn-outline-secondary">Buscar</button>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <!--~~~~~~~~~ Apellido ~~~~~~~~~~~-->
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Apellido" formControlName="apellido">
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <!--~~~~~~~~~ Nombre ~~~~~~~~~~~-->
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Nombre" formControlName="nombre">
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <!--~~~~~~~~~ Fecha de Nacimiento ~~~~~~~~~~~-->
                        <div class="row">
                          <div class="col-md-12">
                            <mat-form-field>
                              <input matInput [matDatepicker]="pickerFechaNac" formControlName="fecha_nacimiento"
                                placeholder="Fecha de Nacimiento">
                              <mat-datepicker-toggle matSuffix [for]="pickerFechaNac"></mat-datepicker-toggle>
                              <mat-datepicker #pickerFechaNac></mat-datepicker>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!----## Fin Primera Columna 6 ##---->

                  <!----## Inicio Segunda Columna 6 ##---->
                  <div class="col-md-6">
                    <div class="card">
                      <div class="card-header">
                        Relación con la Empresa
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-12">
                            <!--~~~~~~~~~ Legajo ~~~~~~~~~~~-->
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Legajo" formControlName="legajo">
                            </mat-form-field>
                          </div>
                          <div class="col-md-12">
                            <!--~~~~~~~~~ Oficina ~~~~~~~~~~~-->
                            <mat-form-field style="width:100%">
                              <mat-select [(value)]="selected" placeholder="Oficina" formControlName="oficina">
                                <mat-option>None</mat-option>
                                <mat-option value="option1">Producto</mat-option>
                                <mat-option value="option2">Servicio</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-md-12">
                            <mat-form-field>
                              <input matInput [matDatepicker]="picker" formControlName="fecha_ingreso" placeholder="Elija una fecha">
                              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                              <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                          </div>
                          <div class="col-md-12">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Descripcion" formControlName="descripcion">
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!----## Fin Segunda Columna 6 ##---->
                </div>
                <br>
                <div class="row">
                  <div class="col-md-12">
                    <div class="card">
                      <div class="card-header">
                        Domicilio
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-7">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Calle" formControlName="calle">
                            </mat-form-field>
                          </div>
                          <div class="col-md-2">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Número" formControlName="numero">
                            </mat-form-field>
                          </div>
                          <div class="col-md-2">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Piso" formControlName="piso">
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Dpto" formControlName="depto">
                            </mat-form-field>
                          </div>
                          <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Manzana" formControlName="manzana">
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-5">
                            <mat-form-field class="example-full-width">
                              <mat-select id="provincia" placeholder="Provincia" formControlName="provincia" (selectionChange)="this.getCiudadesPorProvincia();">
                                <mat-option *ngFor="let provincia of this.provincias" [value]="provincia.id">
                                  {{provincia.nombre}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-md-1"></div>
                          <div class="col-md-5">
                            <mat-form-field class="example-full-width">
                              <input type="text" placeholder="Ciudad" aria-label="Ciudad" matInput [formControl]="ciudadesInput"
                                [matAutocomplete]="auto">
                              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                  {{option.descrip}}
                                </mat-option>
                              </mat-autocomplete>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <div class="row h-100">
                  <div class="col-md-12" align="center">
                    <input type="submit" class="btn btn-outline-primary btn-xs col-md-2" value="Volver" /> &nbsp;
                    <input type="submit" class="btn btn-primary btn-xs col-md-2" value="Guardar" />
                  </div>
                </div>

              </div>
              <!----## Fin Card Body ##---->
            </div>
            <!----## Fin Card ##---->
          </div>
          <!----## Fin Col 12  ##---->
        </div>
        <!----## Fin Row 1 Interior  ##---->
        <br>
      </div>
      <!----## Fin Columna 12  ##---->
    </div>
    <!----## Fin Row Principal ##---->
  </div>
  <!----## Fin Container Principal ##---->
</form>
<!----## Fin Form Principal ##---->


<app-pie></app-pie>