<app-cabecera></app-cabecera>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión Comercial</title>
</head>
<body>
    <form class="pl-5 pr-5">
        <section>
            <div class="container-fluid">
                <div class="row mt-3 align-items-center">
                    <div class="col-md-6 col-sm-12 pl-3">
                        <h3 mat-subheader class="my-auto">Bienvenido</h3>
                    </div>
                </div>
            </div>
        </section>
        
    </form>
</body>
</html>