<app-cabecera></app-cabecera>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!----## Inicio Form Principal ##---->
<form id="nuevaVentaForm" [formGroup]="nuevaVentaForm">
  <!----## Inicio Container Principal ##---->
  <div class="container">
    <!----## Inicio Row Principal ##---->
    <div class="row">
      <!----## Inicio Columna 12  ##---->
      <div class="col-md-12 m-0 p-0">
        <br>
        <div class="card">
          <div class="card-body">
            <h3>Ventas</h3>
            <hr>
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="pills-clientes-tab" data-toggle="pill" href="#pills-clientes" role="tab" aria-controls="pills-clientes" aria-selected="true">1 - Cliente</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pills-productos-tab" data-toggle="pill" href="#pills-productos" role="tab" aria-controls="pills-productos" aria-selected="false">2 - Productos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pills-confirmacion-tab" data-toggle="pill" href="#pills-confirmacion" role="tab" aria-controls="pills-confirmacion" aria-selected="false">3 - Confirmaci&oacute;n</a>
              </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
              <div class="tab-pane fade show active" id="pills-clientes" role="tabpanel" aria-labelledby="pills-clientes-tab">
                           <!----## Inicio Row 1 Interior  ##---->
                <div class="row">
                  <!----## Inicio Col 12  ##---->
                  <div class="col-md-12">
                        <app-seleccion-clientes [domicilioPersonaSeleccionada]="this.domicilioPersonaSeleccionada" [personaSeleccionada]="this.personaSeleccionada" [clienteSeleccionado]="this.clienteSeleccionado" (seElijioCliente)='actualizarClienteSeleccionado($event)'></app-seleccion-clientes>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="pills-productos" role="tabpanel" aria-labelledby="pills-productos-tab">
                <div class="row">
                  <div class="col-md-12">
                      <div  *ngIf="this.clienteSeleccionado!=undefined">
                        <app-carga-detalle-venta (seModificoDetalle)='actualizarDetalleVenta($event)'></app-carga-detalle-venta>
                      </div>
                      <div *ngIf="this.clienteSeleccionado==undefined">
                          Primero seleccione el cliente
                        </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="pills-confirmacion" role="tabpanel" aria-labelledby="pills-confirmacion-tab">
                  <div class="row">
                      <!----## Inicio Col 12  ##---->
                      <div class="col-md-12">
                        <div  *ngIf="this.clienteSeleccionado!=undefined && this.listaDetalleVentas!=undefined">
                            <app-confirmacion-venta [clienteSeleccionado]="this.clienteSeleccionado"></app-confirmacion-venta>
                        </div>
                        <div *ngIf="this.clienteSeleccionado==undefined">
                          Primero seleccione el cliente
                        </div>
                        <div *ngIf="this.listaDetalleVentas==undefined && this.clienteSeleccionado!=undefined">
                          Ingrese productos a la venta
                        </div>
                            
                      </div>
                    </div>
              </div>
            </div>


             <div class="row h-100">
                <div class="col-md-12" align="center">
                  <input type="button" class="btn btn-outline-primary btn-xs col-md-2" [routerLink]="['/ventas/busqueda-ventas']" routerLinkActive="active"value="Volver" /> &nbsp;
                  
                </div>
              </div>
          </div>
          <!----## Fin Col 12  ##---->
        </div>
        <!----## Fin Row 1 Interior  ##---->
        <br>
      </div>
      <!----## Fin Columna 12  ##---->
    </div>
    <!----## Fin Row Principal ##---->
  </div>
  <!----## Fin Container Principal ##---->
</form>
<!----## Fin Form Principal ##---->

<app-pie></app-pie>
