<app-cabecera></app-cabecera>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!----## Inicio Form Principal ##---->
<form id="busquedaVentas" [formGroup]="busquedaVentasForm">
    <input type="hidden" formControlName="nombre_usuario">
    <!----## Inicio Container Principal ##---->
    <div class="container">
      <!----## Inicio Row Principal ##---->
      <div class="row">
        <!----## Inicio Columna 12  ##---->
        <div class="col-md-12 m-0 p-0">
          <br>
          <div class="card">
            <div class="card-body">
                <h3>Ventas</h3>
                <hr>
              <!--Inicio Busqueda-->
              <div class="row">
                <div class="col-md-5">
                  <input type="text" formControlName="txtBuscar" class="form-control" placeholder="">
                </div>
                <div class="col-md-1">
                  <button type="button" class="btn btn-outline-primary" (click)="buscarVentas();" id="btnBuscar">Buscar</button>
                </div>
              </div>
              <!--Fin Busqueda-->
              <br>
  
              <!----## Inicio Row 2 Interior  ##---->
              <div class="row">
                <!----## Inicio Col 12  ##---->
                <div class="col-md-12">
                  <div class="card">
                    <table class="table table-sm ">
                      <thead class="thead-dark">
                        <th>Fecha</th>
                        <th>Cliente</th>
                        <th>Vendedor</th>
                        <th>Monto</th>
                        <th></th>
                      </thead>
                      <tbody>
                        <tr *ngFor="let vta of cast" [ngClass]="{'anulada': vta.anulada==true}">
                          <td>{{vta.fecha | date:'dd-MM-yyyy' }}</td>
                          <td>{{vta.apellido_cliente}}, {{vta.nombre_cliente}}</td>
                          <td>{{vta.apellido_vendedor}}, {{vta.nombre_vendedor}}</td>
                          <td>{{vta.monto}}</td>
                          <td style='text-align: center'>
                            <button type="button" class="btn btn-info btn-sm" title="Ver" data-toggle="modal" [attr.data-target]="'#ver_'+vta.ventas_id"><img src="./assets/detalle.png" alt=""></button>&nbsp;
                            
                            <button class="btn btn-danger btn-sm" *ngIf="vta.anulada!=true" (click)="anularVenta(vta.ventas_id)">Anular</button>
                          </td>
                          <!--Modal Visualizacion-->
                          <div id="ver_{{vta.ventas_id}}" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            <div  class="modal-dialog modal-lg">
                              <div class="modal-content">
                                  <div class="modal-header"  style="background-color: rgb(55, 106, 158); color: white">
                                      <h5 class="modal-title" id="exampleModalLabel">Información de la Venta</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                        <app-visualizacion-ventas [ventas_id]="vta.ventas_id"></app-visualizacion-ventas>
                                    </div>
                                    <div class="modal-footer" style="background-color: #f2f6f9">
                                      <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cerrar</button>
                                    </div>
                              </div>
                            </div>
                          </div>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <br>
                  <div class="row">
                      <div class="col-md-12" align="center">
                        <input type="submit" class="btn btn-primary" [routerLink]="['/ventas/nueva-venta']" routerLinkActive="active" value="Nueva Venta" />
                      </div>
                    </div>
                </div>
                <!----## Fin Col 12  ##---->
              </div>
              <!----## Fin Row 1 Interior  ##---->
            </div>
          </div>
        </div>
        <!----## Fin Columna 12  ##---->
      </div>
      <!----## Fin Row Principal ##---->
    </div>
    <br>
    <!----## Fin Container Principal ##---->
  </form>
  <!----## Fin Form Principal ##---->
  
  <app-pie></app-pie>