<!----## Inicio Form Principal ##---->
<form id="empleadosFormId" [formGroup]="formBusquedaCategorias">
  <!----## Inicio Container Principal ##---->
  <div class="container">
    <!----## Inicio Row Principal ##---->
    <div class="row">
      <!----## Inicio Columna 12  ##---->
      <div class="col-md-12 m-0 p-0">
        <br>
        <div class="card" id="cardPrincipal">
          <div class="card-body">
              <h3>Administración de Categor&iacute;as</h3>
              <hr>
            <!--Inicio Busqueda-->

            <div class="row">
              <div class="col-md-12">
                <div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="buscar_nombre" name="buscar_nombre"
                    formControlName="buscar_nombre" (change)="buscarCategorias()" checked>
                  <label class="custom-control-label" for="buscar_nombre">NOMBRE Y APELLIDO</label>
                </div>
                <div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="buscar_descripcion" name="buscar_descripcion"
                    formControlName="buscar_descripcion" (change)="buscarCategorias()" checked>
                  <label class="custom-control-label" for="buscar_descripcion">DESCRIPCION</label>
                </div>
                <div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="buscar_catpadre" name="buscar_catpadre"
                    formControlName="buscar_catpadre" (change)="buscarCategorias()" checked>
                  <label class="custom-control-label" for="buscar_catpadre">CATEGORIA PADRE</label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Buscar</span>
                  </div>
                  <input type="text" class="form-control" id="buscar" name="buscar" formControlName="txtBuscar"
                    (keyup)="buscarCategorias()" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-sm"
                    placeholder='Introduzca Texto para Reducir el Listado(tilde o destilde las columnas por las cuales realizará la busqueda)'>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <nav aria-label='...'>
                  <ul class='pagination'>
                    <li *ngIf="this.cantidad_paginas>4" class='page-item'> <a class='page-link' id='primeraPagina'
                        (click)="setPaginaByComponenteId(1)" aria-label='Previous'> <span
                          aria-hidden='true'>&laquo;</span> <span class='sr-only'>Previous</span> </a> </li>
                    <li *ngIf="this.cantidad_paginas>3" class='page-item'> <a class='page-link' id='paginaAnterior'
                        (click)="setPaginaByComponenteId(this.valor_boton_1-1)"> Anterior </a></li>
                    <li *ngIf="this.cantidad_paginas>1" class='page-item'
                      [ngClass]="{'active':this.pagina_actual==this.valor_boton_1}" id='paginaObjLiNumero1'
                      name='paginaObjLiNumero'> <a class='page-link' id='paginaNumero1' name='paginaNumero'
                        (click)="setPaginaByComponenteId(this.valor_boton_1)"> {{this.valor_boton_1}} </a> </li>
                    <li *ngIf="this.cantidad_paginas>1" class='page-item'
                      [ngClass]="{'active':this.pagina_actual==this.valor_boton_2}" id='paginaObjLiNumero2'
                      name='paginaObjLiNumero'> <a class='page-link' id='paginaNumero2' name='paginaNumero'
                        (click)="setPaginaByComponenteId(this.valor_boton_2)"> {{this.valor_boton_2}} </a> </li>
                    <li *ngIf="this.cantidad_paginas>2" class='page-item'
                      [ngClass]="{'active':this.pagina_actual==this.valor_boton_3}" id='paginaObjLiNumero3'
                      name='paginaObjLiNumero'> <a class='page-link' id='paginaNumero3' name='paginaNumero'
                        (click)="setPaginaByComponenteId(this.valor_boton_3)"> {{this.valor_boton_3}} </a> </li>
                    <li *ngIf="this.cantidad_paginas>3" class='page-item'> <a class='page-link' id='paginaSiguiente'
                        (click)="setPaginaByComponenteId(this.valor_boton_3+1)"> Siguiente </a></li>
                    <li *ngIf="this.cantidad_paginas>4" class='page-item'> <a class='page-link' id='ultimaPagina'
                        (click)="setPaginaByComponenteId(this.cantidad_paginas)" aria-label='Next'> <span
                          aria-hidden='true'>&raquo;</span> <span class='sr-only'>Next</span> </a> </li>
                  </ul>
                </nav>
              </div>
            </div>
            <!--Fin Busqueda-->
            <br>

            <!----## Inicio Row 2 Interior  ##---->
            <div class="row">
              <!----## Inicio Col 12  ##---->
              <div class="col-md-12">
                <div class="card">
                  <table class="table table-sm ">
                    <thead class="thead-dark">
                      <th style='width:30%;'>Nombre</th>
                      <th style='width:30%;'>Descripción</th>
                      <th style='width:20%;text-align: center;'>Categoría Padre</th>
                      <th style='width:20%;text-align: center;'>Opciones</th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let cat of cast">
                        <td>{{cat.nombre}}</td>
                        <td>{{cat.descripcion}}</td>
                        <td style="text-align: center">{{cat.categorias_padre_descrip}}</td>
                        <td style='text-align: center'>
                          <button class="btn btn-info btn-sm" [routerLink]="['/categorias/cargar-categorias', cat.id]" routerLinkActive="active">Modificar</button>&nbsp;
                          <button class="btn btn-danger btn-sm">Eliminar</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12" align="center">
                      <input type="button" class="btn btn-primary" value="Nueva Categoria" [routerLink]="['/categorias/cargar-categorias']"/>
                    </div>
                  </div>
              </div>
              <!----## Fin Col 12  ##---->
            </div>
            <!----## Fin Row 1 Interior  ##---->
          </div>
        </div>
      </div>
      <!----## Fin Columna 12  ##---->
    </div>
    <!----## Fin Row Principal ##---->
  </div>
  <br>
  <!----## Fin Container Principal ##---->
</form>
<!----## Fin Form Principal ##---->
