<app-cabecera></app-cabecera>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!----## Inicio Form Principal ##---->
<form id="admPerfilesFormid" [formGroup]="perfilesForm" (ngSubmit)="guardar()">
  <input type="hidden" formControlName="nombre_usuario">
  <!----## Inicio Container Principal ##---->
  <div class="container">
    <!----## Inicio Row Principal ##---->
    <div class="row">
      <!----## Inicio Columna 12  ##---->
      <div class="col-md-12 m-0 p-0">
        <br>
        <h3>Usuarios</h3>
        <hr>
        <h5>Administrar Perfiles:</h5>
        <br>
        <div class="card">
          <div class="card-body">
            <!----## Inicio Row Principal Interna ##---->
            <div class="row">
              <div class="col-md-6">
                Perfiles No Asignados
              </div>
              <div class="col-md-6">
                Perfiles Asignados
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <table class="table">
                  <thead class="thead-light" style="text-align: center">
                    <th style='width:28%;'>Nombre</th>
                    <th style='width:18%;'></th>
                  </thead>
                  <tbody>
                    <tr>
                      <td></td>
                      <td style='text-align: center'>
                        <button class="btn btn-info">Agregar</button>&nbsp;
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-6">
                <table class="table">
                  <thead class="thead-light" style="text-align: center">
                    <th style='width:28%;'>Nombre</th>
                    <th style='width:18%;'></th>
                  </thead>
                  <tbody>
                    <tr>
                      <td></td>
                      <td style='text-align: center'>
                        <button class="btn btn-info">Quitar</button>&nbsp;
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!----## Fin Row Principal Interna ##---->
            <br><br>
            <hr>
            <div class="row h-100">
              <div class="col-md-12" align="center">
                <input type="submit" class="btn btn-outline-primary btn-xs col-md-2" onClick='window.history.go(-1)'
                  value="Volver" /> &nbsp;
                <input type="submit" class="btn btn-primary btn-xs col-md-2" value="Guardar" />
              </div>
            </div>
          </div>
        </div>
        <br>
      </div>
      <!----## Fin Columna 12  ##---->
    </div>
    <!----## Fin Row Principal ##---->
  </div>
  <!----## Fin Container Principal ##---->
</form>
<!----## Fin Form Principal ##---->

<app-pie></app-pie>