
 <li *ngFor="let ObjMenuItem of this.ObjeMenu " [ngClass]="{'dropdown-submenu pull-left': ObjMenuItem.menu_tipo==2 }" >
    <a *ngIf=" ObjMenuItem.menu_tipo!=2" [id]="'dropdownMenu'+ObjMenuItem.menu_id" class="dropdown-submenu dropdown-toggle pull-left" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ ObjMenuItem.menu_nombre }}
    </a>
    <ul *ngIf=" ObjMenuItem.menu_tipo!=2" (aria-labelledby)="'dropdownMenu'+ObjMenuItem.menu_id" class="dropdown-submenu border-0 pull-left ">
        <app-navegacion-submenu [ObjeMenu]="this.ObjMenuItem.menu_hijo" ></app-navegacion-submenu>
    </ul>
    <a *ngIf=" ObjMenuItem.menu_tipo==2 && ObjMenuItem.menu_ruta != undefined" [routerLink]="ObjMenuItem.menu_ruta" class="dropdown-item ">
        {{ ObjMenuItem.menu_nombre }}
    </a>
  </li>