<body>
  <div class="flex-container">
    <div class="card card-signin">
      <div class="card-body">
        <div>
          <img
            class="img-responsive"
            src="../../../assets/shopping_cart_logo.png.png"
            width="60%"
            alt="Logo de carro de compras"
          />
        </div>
        <br />
        <h4 class="card-title text-center">Iniciar Sesi&oacute;n</h4>
        <form
          class="form-signin"
          [formGroup]="loginPresenter.form"
          name="formLogin"
          id="login"
        >
          <div class="form-label-group">
            <input
              type="text"
              id="txtUsuario"
              formControlName="usuario"
              name="txtUsuario"
              class="form-control"
              placeholder="Usuario"
              [ngClass]="{ 'is-invalid': submitted && f.usuario.errors }"
            />
            <label
              for="usuario"
              onclick="document.getElementById('txtUsuario').focus();"
              >Usuario</label
            >
            <div *ngIf="submitted && f.usuario.errors" class="invalid-feedback">
              <div *ngIf="f.usuario.errors.required">Usuario es requerido</div>
            </div>
          </div>
          <div class="form-label-group">
            <input
              type="password"
              id="txtPassword"
              formControlName="password"
              name="txtPassword"
              class="form-control"
              placeholder="Contraseña"
              required
            />
            <label
              for="txtPassword"
              onclick="document.getElementById('txtPassword').focus();"
              >Contraseña</label
            >
            <div
              *ngIf="submitted && f.txtPassword.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.txtPassword.errors.required">
                Contrase&ntilde;a es requerido
              </div>
            </div>
          </div>
          <button
            id="btnIngresar"
            class="btn btn-lg btn-primary btn-block text-uppercase"
            type="button"
            (click)="loginUser()"
          >
            Ingresar
          </button>
          <hr class="my-4 pb-1" />
          <p
            aling="center"
            class="card-subtitle text-center text-12 text-uppercase pb-2"
          >
            Proyecto Final {{ anioActual }}
          </p>
          <p aling="center" class="card-subtitle text-center text-12">
            Universidad Tecnol&oacute;gica Nacional. F.R.T.
          </p>
        </form>
      </div>
    </div>
  </div>
</body>
