<app-cabecera></app-cabecera>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!----## Inicio Form Principal ##---->
<form id="empleadosFormId" [formGroup]="buscarClientesForm">
  <input type="hidden" formControlName="nombre_usuario">
  <!----## Inicio Container Principal ##---->
  <div class="container">
    <!----## Inicio Row Principal ##---->
    <div class="row">
      <!----## Inicio Columna 12  ##---->
      <div class="col-md-12 m-0 p-0">
        <br>
        <div class="card">
          <div class="card-body">
              <h3>Clientes</h3>
              <hr>
            <!--Inicio Busqueda-->
            <div class="row">
              <div class="col-md-5">
                <input required type="text" formControlName="txtBuscar" class="form-control" placeholder="Nombre o apellido del cliente">
              </div>
              <div class="col-md-1">
                <button type="button" class="btn btn-outline-primary" (click)="buscarClientes();" id="btnBuscar">Buscar</button>
              </div>
            </div>
            <!--Fin Busqueda-->
            <br>

            <!----## Inicio Row 2 Interior  ##---->
            <div class="row">
              <!----## Inicio Col 12  ##---->
              <div class="col-md-12">
                <div class="card">
                  <table class="table table-sm ">
                    <thead class="thead-dark">
                      <th style='width:20%;'>Nombre</th>
                      <th style='width:20%;'>Apellido</th>
                      <th style='width:10%;text-align: center'>DNI</th>
                      <th style='width:10%;text-align: center'>F. Nac.</th>
                      <th style='width:20%;text-align: center;'>Opciones</th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let cli of cast">
                        <td>{{cli.nombre}}</td>
                        <td>{{cli.apellido}}</td>
                        <td style="text-align: center">{{cli.nro_doc}}</td>
                        <td style="text-align: center">{{cli.fecha_nac | date:'dd-MM-yyyy'}}</td>
                        <td style='text-align: center'>
                          <button class="btn btn-info btn-sm" [routerLink]="['/clientes/cargar-clientes', cli.clientes_id]" routerLinkActive="active">Modificar</button>&nbsp;
                          <button class="btn btn-danger btn-sm">Eliminar</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12" align="center">
                      <input type="submit" class="btn btn-primary" [routerLink]="['/clientes/cargar-clientes']" routerLinkActive="active" value="Nuevo Cliente" />
                    </div>
                  </div>
              </div>
              <!----## Fin Col 12  ##---->
            </div>
            <!----## Fin Row 1 Interior  ##---->
          </div>
        </div>
      </div>
      <!----## Fin Columna 12  ##---->
    </div>
    <!----## Fin Row Principal ##---->
  </div>
  <br>
  <!----## Fin Container Principal ##---->
</form>
<!----## Fin Form Principal ##---->

<app-pie></app-pie>
