<app-cabecera></app-cabecera>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!----## Inicio Form Principal ##---->
<form id="empleadosFormId" [formGroup]="buscarUsuariosForm" (ngSubmit)="guardar()">
  <input type="hidden" formControlName="nombre_usuario">
  <!----## Inicio Container Principal ##---->
  <div class="container">
    <!----## Inicio Row Principal ##---->
    <div class="row">
      <!----## Inicio Columna 12  ##---->
      <div class="col-md-12 m-0 p-0">
        <br>
        <h3>Usuarios</h3>
        <hr>
        <h5>Buscar Usuarios</h5>
        <br>
        <div class="card">
          <div class="card-body">
            <!--Inicio Busqueda-->
            <div class="row">
              <div class="col-md-5">
                <input required type="text" formControlName="txtBuscar" class="form-control" placeholder="Nombre de Usuario o Apellido y Nombre Empleado">
              </div>
              <div class="col-md-1">
                <button type="button" class="btn btn-outline-primary" (click)="buscarUsuarios();" id="btnBuscar">Buscar</button>
              </div>
            </div>
            <!--Fin Busqueda-->
            <br>

            <!----## Inicio Row 2 Interior  ##---->
            <div class="row">
              <!----## Inicio Col 12  ##---->
              <div class="col-md-12">
                <div class="card">
                  <table class="table table-hover table-sm">
                    <thead class="thead-dark">
                      <th style='width:28%;'>Nombre de Usuario</th>
                      <th style='width:28%;'>Apellido y Nombre</th>
                      <th style='width:26%;'>Descripción</th>
                      <th style='width:18%;'></th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let usr of cast">
                        <td>{{usr.nomb_usr}}</td>
                        <td>{{usr.apellido}}, {{usr.nombre}}</td>
                        <td>{{usr.desc_usr}}</td>
                        <td style='text-align: center'>
                          <button class="btn btn-info btn-sm">Modificar</button>&nbsp;
                          <button class="btn btn-danger btn-sm">Baja</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-12" align="center">
                    <input type="submit" class="btn btn-primary" value="Nuevo Usuario" />
                  </div>
                </div>
              </div>
              <!----## Fin Col 12  ##---->
            </div>
            <!----## Fin Row 1 Interior  ##---->
          </div>
        </div>
      </div>
      <!----## Fin Columna 12  ##---->
    </div>
    <!----## Fin Row Principal ##---->
  </div>
  <br>
  <!----## Fin Container Principal ##---->
</form>
<!----## Fin Form Principal ##---->

<app-pie></app-pie>