
<nav class="navbar navbar-expand-lg" id="barra_navegacion2">
  <a class="navbar-brand brlight" href="javascript:void(0)">ROMA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown" >
    <ul class="navbar-nav brlight">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Administraci&oacute;n
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <ul class="navbar-nav dropdown-item">
                
                <li class="dropdown-submenu">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">Empleados</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" [routerLink]="['/empleados/busqueda-empleados']">Buscar Empleados</a></li>
                         <li><a class="dropdown-item" [routerLink]="['/empleados/cargar-empleados']">Cargar Empleados</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav dropdown-item">
                <li class="dropdown-submenu">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">Usuarios</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" [routerLink]="['/usuarios/busqueda-usuarios']">Buscar Usuarios</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/usuarios/cargar-usuarios']">Cargar Usuarios</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/usuarios/cambiar-password']">Cambiar Contrase&ntilde;a</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav dropdown-item">
                
              <li class="dropdown-submenu">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown">Clientes</a>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" [routerLink]="['/clientes/busqueda-clientes']">Buscar Clientes</a></li>
                       <li><a class="dropdown-item" [routerLink]="['/clientes/cargar-clientes']">Cargar Clientes</a></li>
                  </ul>
              </li>
          </ul>
            <div class="dropdown-divider"></div>
            <ul class="navbar-nav dropdown-item">
                <li class="dropdown-submenu">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">Puntos de Venta</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" [routerLink]="['/puntos-venta/busqueda-puntos-venta']">Buscar Punto de Venta</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/puntos-venta/cargar-puntos-venta']">Cargar Punto de Venta</a></li>
                    </ul>
                </li>
            </ul>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Productos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" [routerLink]="['/productos/busqueda-productos']">Buscar Productos</a>
          <a class="dropdown-item" [routerLink]="['/productos/cargar-productos']">Cargar Productos</a>
          <ul class="navbar-nav dropdown-item">
              <li class="dropdown-submenu">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown">Categor&iacute;as</a>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" [routerLink]="['/categorias/busqueda-categorias']">Buscar Categorías</a></li>
                      <li><a class="dropdown-item" [routerLink]="['/categorias/cargar-categorias']">Cargar Categorías</a></li>
                  </ul>
              </li>
          </ul>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Promociones
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" [routerLink]="['/promociones/busqueda-promociones']">Buscar Promociones</a>
          <a class="dropdown-item" [routerLink]="['/promociones/cargar-promociones']">Cargar Promociones</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Ventas
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" [routerLink]="['/ventas/busqueda-ventas']">Ventas</a>
          <a class="dropdown-item" [routerLink]="['/ventas/nueva-venta']">Cargar Venta</a>
        </div>
      </li>
    </ul>
  </div>
  <span class="nav justify-content-end align-middle">
    <button type="button" class="btn btn-outline-light cabin-reg" (click)="cerraSession()">Cerrar Sesión</button>
  </span>
</nav>

<nav class="navbar navbar-expand-lg navbar-light py-2 shadow-sm" id="barra_navegacion">
  <a class="nav-link text-light" [routerLink]="['/home']">HOME</a>
    <button type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarContent" class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li *ngFor="let ObjMenuItem of this.menuArray " [ngClass]="{'nav-item dropdown': (ObjMenuItem.menu_ruta==null || ObjMenuItem.menu_ruta=='null' || ObjMenuItem.menu_ruta=='' ) }">
            <a *ngIf=" !(ObjMenuItem.menu_ruta==null || ObjMenuItem.menu_ruta=='null' || ObjMenuItem.menu_ruta=='' )" class="nav-link text-light" [routerLink]="ObjMenuItem.menu_ruta" >
              {{ ObjMenuItem.menu_nombre }}
            </a>
            <a *ngIf="(ObjMenuItem.menu_ruta==null || ObjMenuItem.menu_ruta=='null' || ObjMenuItem.menu_ruta=='')" [id]="'dropdownMenu_'+ObjMenuItem.menu_id" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle text-light">
              {{ ObjMenuItem.menu_nombre }}
            </a>
            <ul *ngIf="(ObjMenuItem.menu_tipo!=2)" (aria-labelledby)="'dropdownMenu_'+ObjMenuItem.menu_id" class="dropdown-menu border-0">
                <app-navegacion-submenu [ObjeMenu]="this.ObjMenuItem.menu_hijo" ></app-navegacion-submenu>
            </ul>
        </li>
        <!-- End Level one -->
      </ul>
    </div>
 

  <span class="nav justify-content-end align-middle">
    <div class="btn-group dropdown" *ngIf="datos_usuario!=undefined">
      <button id="btnUsuarioNav" type="button" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <b>{{ datos_usuario.apellido | uppercase }}, {{ datos_usuario.nombre | uppercase }}</b>
      </button>
      <div class="dropdown-menu dropdown-menu-right">
  
        <a class="dropdown-header" >{{ datos_usuario.descripcion_empleado }}</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" routerLink="/usuarios/cambiar-password">Cambiar Contraseña</a>
        <a class="dropdown-item" (click)="cerrarSession()" ><b>CERRRAR SESION</b></a>
      </div>
    </div>
  </span>
</nav>