<app-cabecera></app-cabecera>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!----## Inicio Form Principal ##---->
<form id="empleadosFormId" [formGroup]="productosForm" (ngSubmit)="guardar()">
  <input type="hidden" formControlName="nombre_usuario">
  <input type="hidden" formControlName="id_producto">
  <!----## Inicio Container Principal ##---->
  <div class="container">
    <!----## Inicio Row Principal ##---->
    <div class="row">
      <!----## Inicio Columna 12  ##---->
      <div class="col-md-12 m-0 p-0">
        <br>
        <h3>Productos</h3>
        <hr>
        <h5>Nuevo Producto</h5>
        <br>
        <!----## Inicio Row 1 Interior  ##---->
        <div class="row">
          <!----## Inicio Col 12  ##---->
          <div class="col-md-12">
            <!----## Inicio Card ##---->
            <div class="card">
              <!----## Inicio Card Body ##---->
              <div class="card-body">
                <div class="row">
                  <!----## Inicio Primera Columna 6 ##---->
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-md-12">
                        <!--~~~~~~~~~ Código ~~~~~~~~~~~-->
                        &nbsp; <mat-form-field class="example-full-width" style="width:90%">
                          <input matInput placeholder="Código" formControlName="codigo">
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <!--~~~~~~~~~ Nombre Producto ~~~~~~~~~~~-->
                        &nbsp; <mat-form-field class="example-full-width" style="width:90%">
                          <input matInput placeholder="Nombre" formControlName="nombre_producto">
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <!--~~~~~~~~~ Descripción Producto ~~~~~~~~~~~-->
                        &nbsp; <mat-form-field class="example-full-width" style="width:90%">
                          <input matInput placeholder="Descripción" formControlName="descripcion_producto">
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <!----## Fin Primera Columna 6 ##---->

                  <!----## Inicio Segunda Columna 6 ##---->
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-md-12">
                        <!--~~~~~~~~~ Tipo ~~~~~~~~~~~-->
                        <mat-form-field style="width:100%">
                          <mat-select  [compareWith]="compareFn" placeholder="Tipo" formControlName="tipo">
                            <mat-option>None</mat-option>
                            <mat-option value="1">Producto</mat-option>
                            <mat-option value="2">Servicio</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-5">
                        <!--~~~~~~~~~ Precio ~~~~~~~~~~~-->
                        <mat-form-field class="example-full-width" style="width:100%">
                          <input matInput placeholder="Precio" formControlName="precio">
                        </mat-form-field>
                      </div>
                      <div class="col-md-7">
                        <mat-form-field style="width:100%">
                          <mat-select [(value)]="selected" [compareWith]="compareFn" placeholder="Unidad" formControlName="unidad">
                            <mat-option>None</mat-option>
                            <mat-option value="1">1</mat-option>
                            <mat-option value="2">2</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <!--~~~~~~~~~ Descripción Factura ~~~~~~~~~~~-->
                        <mat-form-field class="example-full-width" style="width:100%">
                          <input matInput placeholder="Descripción Factura" formControlName="descripcion_factura">
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <!----## Fin Segunda Columna 6 ##---->
                </div>
                <br>
                <!-- Inicio Card Caracteristicas del producto -->
                <div class="row">
                  <div class="col-md-12">
                    <div class="card">
                      <div class="card-header">
                        Caracteristicas
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="row">
                              <div class="col-md-12">
                                <mat-form-field class="example-full-width" style="width:90%">
                                  <input matInput placeholder="Nombre" id="nombretablita"formControlName="nombre">
                                </mat-form-field>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                <mat-form-field class="example-full-width" style="width:90%">
                                  <input matInput placeholder="Descripción" id="descripcion" formControlName="descripcion">
                                </mat-form-field>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                <mat-form-field style="width:90%">
                                  <mat-select placeholder="Unidad Medida" id="unidad_medida" formControlName="unidad_medida">
                                    <mat-option>None</mat-option>
                                    <mat-option value="1">1</mat-option>
                                    <mat-option value="2">2</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                <mat-form-field class="example-full-width" style="width:70%">
                                  <input matInput placeholder="Valor" id="valor" formControlName="valor">
                                </mat-form-field> &nbsp;&nbsp;&nbsp;
                                <button mat-stroked-button type="button" (click)="agregarDatosTablita();">Agregar</button>
                              </div>
                            </div>
                          </div>

                          <div class="col-md-6">
                            <table class="table table-hover table-sm">
                              <thead class="thead-celeste">
                                <th style='width:35%;'>Nombre</th>
                                <th style='width:35%;'>Descrip.</th>
                                <th style='width:5%; text-align: center' >Unidad</th>
                                <th style='width:20%; text-align: center'>Valor</th>
                                <th style='width:5%; text-align: center'></th>
                              </thead>
                              <tbody id="tablita">
                                <tr *ngFor="let caract of caracteristicas; let indice = index">
                                  <td>{{caract.nombre}}</td>
                                  <td>{{caract.descripcion}}</td>
                                  <td>{{caract.unidad_medida}}</td>
                                  <td style="text-align:center">{{caract.valor}}</td>
                                  <td><button class='btn btn-danger btn-sm' type="button" (click)='borrarFila(caract);'>X</button></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Fin Card Caracteristicas del producto -->
                    <br>
                  </div>

                  <!-- Inicio Card de categorias del producto-->
                  <div class="col-md-9">
                    <div class="card">
                      <div class="card-header">
                        Categor&iacute;as
                      </div>
                      <div class="card-body">
                        
                        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
                          <!-- This is the tree node template for leaf nodes -->
                          <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
                            <li class="mat-tree-node">
                              <!-- use a disabled button to provide padding for tree leaf -->
                              <button mat-icon-button disabled></button>
                              {{node.name}} 
                              &emsp;&emsp; <button class="btn btn-outline-info btn-sm" (click)="agregarCategoria(node.id, node.name)">Agregar</button>
                            </li>
                          </mat-tree-node>
                          <!-- This is the tree node template for expandable nodes -->
                          <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
                            <li>
                              <div class="mat-tree-node">
                                <button mat-icon-button matTreeNodeToggle
                                        [attr.aria-label]="'toggle ' + node.name">
                                  <mat-icon class="mat-icon-rtl-mirror">
                                    {{treeControl.isExpanded(node) ? '-' : '>'}}
                                  </mat-icon>
                                </button>
                                {{node.name}}
                              </div>
                              <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
                                <ng-container matTreeNodeOutlet></ng-container>
                                
                              </ul>
                            </li>
                          </mat-nested-tree-node>
                        </mat-tree>



                      </div>
                    </div>  <!-- Fin Card de categorias del producto-->
                  </div>
                  <div class="col-md-3">
                    <table class="table table-hover table-sm">
                      <thead class="thead-celeste">
                        <th style='width:5%; text-align: center'></th>
                        <th>Categor&iacute;a</th>
                      </thead>
                      <tbody id="tb_categorias">
                        <tr *ngFor="let cats of categorias_guardar; let indice = index">
                          <td> <button class='btn btn-danger btn-sm' type="button" (click)='borrarFila(cats.id);'>X</button></td>
                          <td>{{cats.nombre}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                </div>
                <br>
                <div class="row h-100">
                  <div class="col-md-12" align="center">
                    <input type="button" class="btn btn-outline-primary btn-xs col-md-2" value="Volver" onClick='window.history.go(-1)'/>&nbsp;
                    <input type="submit" class="btn btn-primary btn-xs col-md-2" value="Guardar" /> 
                  </div>
                </div>

              </div>
              <!----## Fin Card Body ##---->
            </div>
            <!----## Fin Card ##---->
          </div>
          <!----## Fin Col 12  ##---->
        </div>
        <!----## Fin Row 1 Interior  ##---->
        <br>
      </div>
      <!----## Fin Columna 12  ##---->
    </div>
    <!----## Fin Row Principal ##---->
  </div>
  <!----## Fin Container Principal ##---->
</form>
<!----## Fin Form Principal ##---->


<app-pie></app-pie>