<form id="empleadosFormId" [formGroup]="preciosProductosForm">
  <div class="row">
    <div class="col-12">
      <h4>{{producto.nombre}}</h4>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="resumen-tab" data-toggle="tab" [attr.href]="'#resumen_'+producto.productos_id"
            role="tab" aria-controls="resumen" aria-selected="true">Resumen</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="resumen_{{producto.productos_id}}" role="tabpanel"
          aria-labelledby="resumen-tab">
          <br>
          <div class="row">
            <div class="col-6">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <h5><span class="input-group-text" id="basic-addon1">Precio Actual</span></h5>
                </div>
                <input type="text" formControlName="precio_actual" class="form-control" readonly>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <input type="text" id="nuevo_precio" placeholder="Inserte nuevo precio" class="form-control" formControlName="nuevo_precio" />
    </div>
    <div class="col-md-1">
      <input type="button"  value="Cargar" class="btn btn-outline-primary" (click)="cargarNuevoPrecio();" />
    </div>
  </div>

  <br>
  &nbsp; <i>Historial de Precios</i><br>
  <div class="row">
    <div class="col-md-12">
      <table class="table" id="tabla_precios">
        <thead>
          <tr>
            <th scope="col">Monto</th>
            <th scope="col">Fecha Desde</th>
            <th scope="col">Fecha Hasta</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pre of precios; let indice = index">
            <td>${{pre.monto}}</td>
            <td>{{pre.fecha_desde | date:'dd-MM-yyyy'}}</td>
            <td>{{pre.fecha_hasta | date:'dd-MM-yyyy'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


</form>