<app-cabecera></app-cabecera>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!----## Inicio Form Principal ##---->
<form id="empleadosFormId" [formGroup]="promocionesForm" (ngSubmit)="guardar()">

  <input type="hidden" formControlName="nombre_usuario">
  <input type="hidden" formControlName="id_promociones">
  <!----## Inicio Container Principal ##---->
  <div class="container">
    <!----## Inicio Row Principal ##---->
    <div class="row">
      <!----## Inicio Columna 12  ##---->
      <div class="col-md-12 m-0 p-0">
        <br>
        <!----## Inicio Row 1 Interior  ##---->
        <div class="row">
          <!----## Inicio Col 12  ##---->
          <div class="col-md-12">
            <!----## Inicio Card ##---->
            <div class="card">
              <!----## Inicio Card Body ##---->
              <div class="card-body">
                  <h3>Promociones</h3>
                  <hr>
                <div class="row">
                  <!----## Inicio Primera Columna 6 ##---->
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-md-12">
                        <!--~~~~~~~~~ Nombre Promoción ~~~~~~~~~~~-->
                        <mat-form-field class="example-full-width" style="width:90%">
                          <input matInput placeholder="Nombre" formControlName="nombre_promocion">
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <!--~~~~~~~~~ Descripción Promoción ~~~~~~~~~~~-->
                        <mat-form-field class="example-full-width" style="width:90%">
                          <input matInput placeholder="Descripción" formControlName="descripcion_promocion">
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <mat-form-field>
                          <input matInput [matDatepicker]="pickerFechaDesde" formControlName="fecha_desde" placeholder="Fecha Desde">
                          <mat-datepicker-toggle matSuffix [for]="pickerFechaDesde"></mat-datepicker-toggle>
                          <mat-datepicker #pickerFechaDesde></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field>
                          <input matInput [matDatepicker]="pickerFechaHasta" formControlName="fecha_hasta" placeholder="Fecha Hasta">
                          <mat-datepicker-toggle matSuffix [for]="pickerFechaHasta"></mat-datepicker-toggle>
                          <mat-datepicker #pickerFechaHasta></mat-datepicker>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">

                      </div>
                    </div>
                  </div>
                  <!----## Fin Primera Columna 6 ##---->
                </div>
                <br>
                <!-- Inicio Card Caracteristicas del producto -->
                <div class="row">
                  <div class="col-md-12">
                    <div class="card">
                      <div class="card-header">
                        Productos
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="row">
                              <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                  <input formControlName="producto" type="text" placeholder="Producto" aria-label="Ciudad" matInput [matAutocomplete]="auto" />
                                  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                      {{option.descrip}}
                                    </mat-option>
                                  </mat-autocomplete>
                                </mat-form-field>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                <button class="btn btn-outline-secondary" type="button" (click)="agregarDatosTablaProductos();">Agregar</button>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <table class="table table-hover table-sm">
                              <thead class="thead-dark">
                                <th style='width:90%;'>Nombre</th>
                                <th style='width:10%;'></th>
                              </thead>
                              <tbody id="tablita">
                                <tr *ngFor="let caract of caracteristicas; let indice = index">
                                  <td>{{caract.nombre}}</td>
                                  <td><button class='btn btn-danger btn-sm' type="button"
                                      (click)='borrarFila(indice, caracteristicas);'>X</button></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Fin Card Caracteristicas del producto -->
                    <br>
                  </div>

                  <!-- Inicio Card de Restricciones de la promoción-->
                  <div class="col-md-12">
                    <div class="card">
                      <div class="card-header">
                        Restricciones
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-6">
                            <mat-form-field style="width:100%">
                              <mat-select placeholder="Tipo" id="tipo" formControlName="tipo">
                                <mat-option>None</mat-option>
                                <mat-option value="option1">1</mat-option>
                                <mat-option value="option2">2</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-3">
                            <mat-form-field class="example-full-width" style="width:90%">
                              <input matInput placeholder="Valor" formControlName="valor">
                            </mat-form-field>
                          </div>
                          <div class="col-md-3">
                            <mat-form-field style="width:100%">
                              <mat-select placeholder="Unidad" formControlName="unidad">
                                <mat-option>None</mat-option>
                                <mat-option value="option1">1</mat-option>
                                <mat-option value="option2">2</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-md-3">
                            <button class="btn btn-outline-secondary" type="button" (click)="agregarDatosTablaRestricciones();" >Agregar</button>
                          </div>
                        </div>
                        <br>
                        <div class="row">
                          <div class="col-md-2"></div>
                          <div class="col-md-8">
                            <table class="table table-hover table-sm">
                              <thead class="thead-dark">
                                <th style='width:20%;'>Tipo</th>
                                <th style='width:20%;'>Valor</th>
                                <th style='width:20%;'>Unidad</th>
                                <th style='width:10%;'></th>
                              </thead>
                              <tbody>
                                <tr *ngFor="let restric of restricciones; let indice = index">
                                  <td>{{restric.tipo}}</td>
                                  <td>{{restric.valor}}</td>
                                  <td>{{restric.unidad}}</td>
                                  <td style='text-align: center'>
                                    <button class='btn btn-danger btn-sm' type="button"
                                      (click)='borrarFila(indice, restricciones);'>X</button>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Fin Card de Restricciones de la promoción-->

                </div>
                <br>
                <div class="row h-100">
                  <div class="col-md-12" align="center">
                    <input type="submit" class="btn btn-outline-primary btn-xs col-md-2" value="Volver" /> &nbsp;
                    <input type="submit" class="btn btn-primary btn-xs col-md-2" value="Guardar" />
                  </div>
                </div>

              </div>
              <!----## Fin Card Body ##---->
            </div>
            <!----## Fin Card ##---->
          </div>
          <!----## Fin Col 12  ##---->
        </div>
        <!----## Fin Row 1 Interior  ##---->
        <br>
      </div>
      <!----## Fin Columna 12  ##---->
    </div>
    <!----## Fin Row Principal ##---->
  </div>
  <!----## Fin Container Principal ##---->
</form>
<!----## Fin Form Principal ##---->


<app-pie></app-pie>