<app-cabecera></app-cabecera>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!----## Inicio Form Principal ##---->
<form id="empleadosFormId" [formGroup]="cambiarPassForm" (ngSubmit)="guardar()">
  <input type="hidden" formControlName="nombre_usuario">
  <!----## Inicio Container Principal ##---->
  <div class="container">
    <!----## Inicio Row Principal ##---->
    <div class="row">
      <!----## Inicio Columna 12  ##---->
      <div class="col-md-12 m-0 p-0">
        <br>
        <div class="card">
          <div class="card-body">
            <h3>Cambiar Contrase&ntilde;a</h3>
            <hr>
            <!----## Inicio Row 2 Interior  ##---->
            <div class="row">
              <!----## Inicio Col 12  ##---->
              <div class="col-md-12">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-6">
                        <mat-form-field class="example-full-width" style="width:80%;">
                          <input matInput type="password" id="vieja_pass" placeholder="Contraseña Actual" formControlName="oldpassword"
                            [ngClass]="{'is-invalid': cambiarPassForm.get('oldpassword').touched && cambiarPassForm.get('oldpassword').invalid}">
                            <div class="invalid-feedback">
                              <div>Este campo es obligatorio.</div>
                            </div>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-6">
                        <mat-form-field class="example-full-width" style="width:80%;">
                          <input matInput type="password" id="nuevo_pass" placeholder="Nueva Contraseña" formControlName="newpassword"
                            [ngClass]="{'is-invalid': cambiarPassForm.get('newpassword').touched && cambiarPassForm.get('newpassword').invalid}">
                            <div class="invalid-feedback">
                              <div>Este campo es obligatorio.</div>
                            </div>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-6">
                        <mat-form-field class="example-full-width" style="width:80%;">
                          <input matInput type="password" id="nuevo_pass2" placeholder="Repetir Nueva Contraseña"
                            formControlName="newpassword2"
                            [ngClass]="{'is-invalid': cambiarPassForm.get('newpassword2').touched && cambiarPassForm.get('newpassword2').invalid}">
                            <div class="invalid-feedback">
                              <div>Este campo es obligatorio.</div>
                              <div>Este campo debe coincidir con el anterior.</div>
                              <div>La contrase&ntilde;a debe contener mas de 5 caracteres.</div>
                            </div>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <div class="col-md-12" align="center">
                      <input type="submit" class="btn btn-primary" value="Modificar Contraseña" />
                    </div>
                  </div>
                </div>
              </div>
              <!----## Fin Col 12  ##---->
            </div>
            <!----## Fin Row 1 Interior  ##---->
          </div>
        </div>
      </div>
      <!----## Fin Columna 12  ##---->
    </div>
    <!----## Fin Row Principal ##---->
  </div>
  <br>
  <!----## Fin Container Principal ##---->
</form>
<!----## Fin Form Principal ##---->

<app-pie></app-pie>